.popup__input {
  width: 358px;
  height: 20px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
  margin: 0 auto 27px auto;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 8px;
}

.popup__input:focus{

}

@media screen and (max-width: 630px) {
  .popup__input {
    width: 238px;
  }
}

