.footer {
  margin: 69px 0 66px 0;
  min-height: 18px;
  max-width: 880px;
  min-width: 300px;
}

@media screen and (max-width: 910px) {
  .footer {
    min-height: 14px;
    margin: 46px 0 40px 0;
  }
}
